QWidget {
    background-color:#f9f9f9;
}

QPushButton, QComboBox {
    border:0px solid;
    background-color:#dfdfdf;
}

QPushButton:hover {
    border:2px solid #333333;
    background-color:#f3f3f3;
}

QPushButton:pressed {
    background-color:#424242;
    color:#ffffff;
}


QComboBox QAbstractItemView::item {
    border:1px solid #eeeeee;
    background-color:#f0f0f0;
    color:#000000;
}

QComboBox:focus {
    background-color:#cfcfcf;
}

QPlainTextEdit {
    background-color:#f5f5f5;
    border:1px solid #555555;
}

QLineEdit {
    border:1px solid #555555;
}

QLineEdit:focus {
    background-color:#f0f0f0;
}
